<!DOCTYPE html>
<html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="recette, bouffe">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="manifest" href="site.webmanifest">
        <link rel="apple-touch-icon" href="icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="../../../public/css/mathieu.css">

        <link rel="stylesheet" type="text/css" href="../../../public/semantic/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="../../../public/semantic/semantic.css">
        <script
          src="https://code.jquery.com/jquery-3.1.1.min.js"
          integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
          crossorigin="anonymous"></script>
        <script src="semantic/semantic.min.js"></script>
    </head>
<body>
  <div class="ui four column grid">
    <div class="large screen only six wide column">

      <div class="ui segment" style="padding-bottom: 100%;">

      <h1>Conversations</h1>
      </br>
        <a class="ui image label">
          <img src="/images/avatar/small/joe.jpg">
          Joe
        </a></br>
        <a class="ui image label">
          <img src="/images/avatar/small/elliot.jpg">
          Elliot
        </a></br>
        <a class="ui image label">
          <img src="/images/avatar/small/stevie.jpg">
          Stevie
        </a></br>
      </div>

    </div>
    <div class="large screen only ten wide column">
      <div class="ui segment" style="float: bottom;padding-bottom: 50%;">
        <div id="content" >
        <div class="contenu-blanc-avec-scroll">
          <div class="ui right aligned segment">
          interlocuteur A
          </div>
          <div class="ui left aligned segment">
            interlocuteur A
          </div>
      </div>
    </div>
          <div class="ui form">
            <div class="field">
              <p style="float: left;">text</p>
              <button class="ui button" style="float: right;margin-bottom: 10px;">envoyer</button>
            </br>
              <textarea rows="2"></textarea>

            </div>
          </div>

      </div>
    </div>
  </div>
</div>


</body>
