<!doctype html>
	<html>
		<meta charset="utf-8">
		<title>PhpWarrior</title>
    
        <link rel="stylesheet" type="text/css" href="../../../public/semantic/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="../../../public/css/thomas.css">
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script src="../../../semantic/dist/semantic.min.js"></script>

    <header>
        <div>
            <a href="body.html"><h1 class="alignleft" style="padding-right: 30px ; padding-left: 30px ; padding-top: 10px">PhpWarrior</h1></a>              
            <nav>    
                <ul style="list-style-type:none">
                    <li class="alignright"><a href="Login_SignUp.html">Déconnexion</a></li>
                    <li class="alignright"><a href="amis.html">Amis</a></li>
                </ul>
            </nav>
        </div>
    </header>
	<body>
        <li style="list-style-type: none">
            <p>Télephone : 06 06 06 06 06</p>
            <p>Mail : mail@mail.com</p>
        </li>
    </body>
        
    <footer>
        <div style="padding-left: 10px">
            <a href="contact.html">Contacter nous</a>
        </div>
    </footer>

</html>