<!doctype html>
	<html>
		<meta charset="utf-8">
		<title>PhpWarrior</title>
    
        <link rel="stylesheet" type="text/css" href="../../../semantic/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="../../../public/css/thomas.css">
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script src="../../../semantic/dist/semantic.min.js"></script>

<body>
    <li style="list-style-type: none">
        <p>Télephone : 0606060606</p>
        <p>Mail : mail@mail.com</p>
    </li>
</body>